.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1DA1F2;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  background-color: #1DA1F2;
  color: white;
}

.navbar-brand {
  padding-top: 10px;
  font-size: 0.75em;
}
.App-title {
  /* float: left; */
  margin-left: 330px;
}

.searchInput {
  float: right;
  margin: 17px 30px 0 0;
}

.navItems {
  float: left;
  margin: 25px 0 0 30px;
}

.linkItem{
  padding-right: 20px;
}

.clearfix {
    overflow: auto;
}

.new-deal-button {
  float: right;
  margin: 25px 20px 0 0;
}

.card {
  margin: 100px;
}

footer {
  padding-top: 50px;
}

.createNewDeal {
  padding-top: 80px;
}

.signInPage {
  padding-top: 140px;
}

/* .comments{
  padding-bottom: 180px;
} */

/* .navbar-nav {
  color: red;
  margin-top: 60px;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
